body{
    background-color: grey;
    
}
.navbar-light .navbar-brand{
    background-color: teal;
    color: white;
    font-weight: bold;
}
form{
    background-color: white;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
h1{
    color: teal;
    margin-left: 20px;
}
hr{
    border-top: 1px solid teal;
}
.email{
    margin-top: 10px;
}
.col-md-2 button{
    margin-top: 10px;
}
footer{
    background-color: #474c54;
    text-align: center;
    border-top: solid teal;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 400px) and (max-width: 400px) {
    div.col{
        width: 370px;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    div.col{
        width: 600px;
    }
}
@media screen and (min-width: 992px) and (max-width: 992px) {
    div.col{
        width: 770px;
    }
}